body{
    background-color: rgb(248, 248, 248);
}

.content{
    width: 80%;
}



@media (min-width: 992px) { 
    .director-list{
        height: 1200px;
    }

    .director-list.admin{
        height: 2500px;
    }
}


.director-list li{
    list-style: none;
    margin-right: 80px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.director-list li:nth-child(2n) {
    background-color: rgb(250, 232, 209);
}

.director-list li:nth-child(2n) a:hover{
    color: rgb(171, 114, 40);
}


.director-list a{
    font-size: 0.7rem;
    color: black;
    text-decoration: none;
}

.director-list span{
    font-size: 0.8rem;
}

.director-list a:hover{
    color: grey;
  }