.content{
    width: 90%;
}

body{
    background-color: rgb(248, 248, 248);
}

.poster{
    width: 400px;
    height: 550px;
}

.movie-genres p{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 2px solid #6c757d;
    border-radius: 1rem;
    font-size: .7rem;
    line-height: 1.25rem;
}

.movie-director{
    text-decoration: none;
}


.movie-director::before {
    margin-right: 10px;
    display: inline-block;
    content: "";
    vertical-align: -.125em;
    width: 1.4rem;
    height: 1.4rem;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-reels" viewBox="0 0 16 16"><path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"/><path d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"/><path d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/></svg>');
    background-repeat: no-repeat;
    background-size: 1.4rem 1.4rem;
  }

.movie-rt::before {
margin-right: 10px;
display: inline-block;
content: "";
vertical-align: -0.3249999999999996em;
width: 1.4rem;
height: 1.4rem;
background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16"><path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/><path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/></svg>');
background-repeat: no-repeat;
background-size: 1.4rem 1.4rem;
}

.movie-year::before {
margin-right: 10px;
display: inline-block;
content: "";
vertical-align: -0.32500000000000007em;
width: 1.4rem;
height: 1.4rem;
background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16"><path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/></svg>');
background-repeat: no-repeat;
background-size: 1.4rem 1.4rem;
}

.movie-rating::before {
    margin-right: 10px;
    display: inline-block;
    content: "";
    vertical-align: -0.32500000000000007em;
    width: 1.4rem;
    height: 1.4rem;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16"><path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/></svg>');
    background-repeat: no-repeat;
    background-size: 1.4rem 1.4rem;
    }

.movie-btn{
    width: fit-content;
}

div.input-group input.rating-input{
    width: 50px;
    flex: 0 0 auto;
}