<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoodWatch</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/allMoviesView.css}" href="">
</head>
<body>

    <div layout:fragment="content">
      
        <h1>Movies</h1>
        <div class="d-flex" th:fragment="movies">
            <div class="movies">
              <div class="d-flex flex-wrap">
      
                  <div th:each="movie : ${movies}" class="card movie-card p-3 shadow-sm m-3 ms-0 me-4">
                      <img class="card-img-top" th:src="@{${'/images/' + movie.poster}}" alt="Card image cap">
                      <div class="card-body d-flex flex-column justify-content-between ps-0 pe-0">
                        <div>
                          <div class="d-flex justify-content-between">
                            <h5 class="card-title movie-card-title mb-1 w-75" th:text="${movie.title}">Movie title</h5>
                            <p class="movie-card-rating mb-0"><span th:text="${movie.getAvgRating()}">Rating</span> / 5</p>
                          </div>
                          
                          <div class="card-text">
                            <a href="" th:href="@{${'/director/' + movie.director.directorID + '/movies'}}" class="movie-card-director mb-0">
                              <p th:text="${movie.director.name}" class="mb-0">Director</p>
                            </a>
                            <div class="movie-card-genre">
                                <p th:each="genre : ${movie.genres}" class="d-inline text-muted" th:text="${genre.label}">Genres</p>
                            </div>
                          </div>
                        </div>
                        <a href="#" class="btn btn-success mt-3 movie-card-btn">+ Watched</a>
                      </div>
                    </div>
      
              </div>
      
          </div>
          <div class="genres d-flex flex-column mt-3">
            <a th:each="genre : ${genres}" th:href="@{${'/genre/' + genre.genreID + '/movies'}}" class ="genre ms-2" th:text="${genre.label}" href=""></a>
          </div>
        </div>
      
    </div>
    
    
</body>
</html>